.carousel-bg {
    height: 200px;

}

.carousel-btn {
    position: absolute;

    top: 50%;
    width: 44px;
    height: 44px;
    border: none;

    border-radius: 50% !important;
    background: white;
    background: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    font-size: 30px;
    padding-top: 5px;
    padding-left: 6px;
}

.carousel-btn:hover {
    background: white;
}

.carousel-caption {
    color: #003580;
    text-shadow: none;
    transition: background 200ms linear;
}

.carousel-caption > a {
    color: inherit;
    text-decoration: none;
}

.carousel-caption:hover {
    background: rgba(42, 67, 173, 0.1)
}

.carousel-btn.left {
    left: 0;
}

.carousel-btn.right {
    right: 0;
}

.carousel-indicators li {
    border: 1px solid #003580;
}

