<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>

<div class="review">
    <div class="review-header clearfix">
        <div class="pull-left">
            <div class="vcentered-container inline">
                <span class="rating-box vcentered">${review.rating}</span>
                <span class="push-right-sm"></span>
            </div>
        </div>
        <div class="review-author pull-right clearfix">
            ${review.author.firstName} ${review.author.lastName}
            <c:if test="${user.id == review.author.id || agent}">
                <form method="post" action="/review"
                      class="clear-margin inline">
                    <input type="hidden" name="__method" value="DELETE"/>
                    <input type="hidden" name="id" value="${review.id}"/>
                    <div class="submit danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </div>
                </form>
            </c:if>
        </div>
    </div>
    <c:if test="${not empty review.text}">
        <div class="review-content">
            <c:out value="${review.text}"/>
        </div>
    </c:if>
</div>
