<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="u" uri="util" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>

<fmt:setBundle basename="lang" var="rb" />

<u:if-user role="TOUR_AGENT">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="/agent/new-tour.html">
                <fmt:message key="sidebar.new_tour" bundle="${rb}"/>
            </a>
        </li>
        <li><a href="/agent/tours.html">
                <fmt:message key="sidebar.admin_tour" bundle="${rb}"/>
            </a>
        </li>
        <li><a href="/agent/users.html">
                <fmt:message key="sidebar.users" bundle="${rb}"/>
            </a>
        </li>
        <li><a href="/agent/order.html">
            <fmt:message key="sidebar.order" bundle="${rb}"/>
        </a>
        </li>
    </ul>
</u:if-user>
